@use "index";
@import "color";
.todo__checkbox {
  width: 18px;
  height: 18px;
  appearance: none;
  border-radius: 50%;
  position: relative;
  transition: 0.4s ease;
  border: 1px solid var(--very-dark);
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 11px;
    height: 9px;
    visibility: hidden;
    background: url(./images/icon-check.svg) center/cover no-repeat;
  }
  &:checked {
    background: linear-gradient(
      to right,
      var(--Check-Background-from),
      var(--to)
    );
    border: none;
    &::before {
      visibility: visible;
    }
  }
}

body {
  min-height: 100svh;
  font-family: "Josefin Sans", sans-serif;
  padding: 3rem 1.5rem 10rem;
  background: url(./images/bg-mobile-dark.jpg) no-repeat, var(--BottomBG);
  background-position: top;
  background-size: contain;
  color: white;
  @media (min-width: 64rem) {
    background: url(./images/bg-desktop-dark.jpg) no-repeat, var(--BottomBG);
    background-size: contain;
    padding: 4.75rem 28rem 7.25rem;
  }
  .todo {
    .todo__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.5rem;
      .todo__title {
        letter-spacing: 0.8rem;
      }
      .todo__theme-toggle {
        height: 26px;
        width: 26px;
        border: none;
        outline: none;
        background: url(./images/icon-sun.svg) center/cover no-repeat;
        &.light {
          background: url(./images/icon-moon.svg) center/cover no-repeat;
        }
      }
    }
    .todo__section {
      .todo__form {
        background: var(--TodoBG);
        padding-block: 0.75rem;
        padding-inline: 1.125rem;
        height: 3rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 1rem;
        @media (min-width: 64rem) {
          min-height: 3.875rem;
          margin-bottom: 3rem;
        }
        .todo__label {
          height: 100%;
          flex: 1;
          display: grid;
          .todo__input {
            color: var(--light-grayish);
            outline: none;
            border: none;
            font-family: inherit;
            background: transparent;
            user-select: none;
            &::placeholder {
              color: var(--dark-grayish);
            }
          }
        }
      }
      .todo__task-section {
        background: var(--TodoBG);
        border-radius: 0.5rem;
        box-shadow: 0 10px 10px 0 rgba($color: #000000, $alpha: 0.1);
        .todo__task-list {
          .todo__task-item {
            border-bottom: 1px solid var(--very-dark);
            padding-inline: 1.125rem;
            padding-block: 0.75rem;
            min-height: 3.25rem;
            display: grid;
            @media (min-width: 64rem) {
              min-height: 3.875rem;
            }
            &--No-Todos {
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--very-dark);
            }
            .todo__task-item--container {
              font-size: 0.8rem;
              font-weight: 700;
              color: var(--light-grayish);
              display: flex;
              align-items: center;
              gap: 0.75rem;
              &:has(input:checked) .todo__task {
                text-decoration: line-through;
                color: var(--very-dark);
              }
              .todo__task {
                flex: 1;
                &:hover {
                  color: var(--light-grayish-hover);
                }
              }
              .todo__delete-button {
                width: 18px;
                height: 18px;
                border: none;
                outline: none;
                background: url(./images/icon-cross.svg) center/cover no-repeat;
              }
            }
          }
        }
        .todo__task-details {
          display: flex;
          font-size: 0.8rem;
          font-weight: 700;
          padding-inline: 1.125rem;
          padding-block: 1.25rem;
          color: var(--very-dark);
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          .todo__task-count {
            font-weight: 700;
            font-size: 12.5px;
          }
          .todo__clear-completed-button {
            background: transparent;
            border: none;
            outline: none;
            color: var(--very-dark);
            font-family: inherit;
            &:hover {
              color: var(--light-grayish);
            }
          }
          .todo__toggle-buttons {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3rem;
            background: var(--TodoBG);
            bottom: -4rem;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            box-shadow: 0 10px 10px 0 rgba($color: #000000, $alpha: 0.1);
            @media (min-width: 64rem) {
              position: static;
              border-radius: unset;
              height: unset;
              width: unset;
              box-shadow: none;
              flex: 1;
            }
            &.All {
              .todo__toggle-button--all {
                color: var(--Bright-Blue);
              }
            }
            &.Active {
              .todo__toggle-button--active {
                color: var(--Bright-Blue);
              }
            }
            &.Completed {
              .todo__toggle-button--completed {
                color: var(--Bright-Blue);
              }
            }
            .todo__toggle-button {
              background: transparent;
              border: none;
              outline: none;
              color: var(--dark-grayish);
              font-weight: 700;
              &:hover {
                color: var(--light-grayish);
              }
            }
          }
          .todo__drag-instruction {
            position: absolute;
            left: 0;
            bottom: -7.5rem;
            width: 100%;
            text-align: center;
            @media (min-width: 64rem) {
              bottom: -3rem;
            }
          }
        }
      }
    }
  }
}
